<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erzu.quarter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.application.UtilsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeTwo">
        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.CreationActivity" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.AttentionActivity" />
        <activity android:name=".view.activity.CollectActivity" />
        <activity android:name=".view.activity.SearchActivity" />
        <activity android:name=".view.activity.MessageActivity" />
        <activity android:name=".view.activity.ProductionActivity" />
        <activity android:name=".view.activity.SetActivity" />
        <activity android:name=".view.activity.UserActivity" />
        <activity android:name=".view.activity.ActivityLogin"></activity>
        <activity android:name=".view.activity.RegistActivity"></activity>
        <activity android:name=".view.activity.FindPasswordActivity"></activity>
        <activity android:name=".view.activity.PublishActivity"></activity>
    </application>

</manifest>